body {
    background-color: bisque;
}

h1 {
    text-align: right;
    padding-right: 1rem;;
}

h2 {
    padding-left: 1rem;;
    margin-left: 0.5rem;
}

h2.section {
    border-style: hidden hidden hidden solid;
    border-width: 0.5rem;
}

h2.news {
    border-color: lightpink;
}

h2.intern {
    border-color: violet;
}

h2.opinion {
    border-color: lightskyblue;
}

h2.sport {
    border-color: lightyellow;
}

h3 {
    margin: 0px;;
}

td {
    width: 20%;
    padding: 0.5rem;
}

tr.news {
    background-color: lightpink;
}

tr.intern {
    background-color: violet;
}

tr.opinion {
    background-color: lightskyblue;
}

tr.sport {
    background-color: lightyellow;
}

img {
    display: block;
    margin: 0px auto 0px 0px;
    width: 90%;
}

p {
    margin: 0px;
    padding: 5px 5px 5px 0px;
}